* {
    box-sizing: border-box;
    overflow: scroll;
}
body {
    background: black;
}
#keys-container {
    display: inline-flex;
    background: #191919;
    padding: 0;
    margin: 0;
    width: auto;
    height: 20%;
    overflow: scroll;
}

.white-key, .black-key {
    width: 20vmin;
    height: 80vmin;
    background: #ffffff;
    padding: 0;
    border: none;
    border-radius: 0 0 5px 5px;
}

.white-key.pressed {
    background: #939393 !important;
}
.black-key.pressed {
    background: #282828 !important;
}

.white-key {
    position: relative;
    background: #ffffff;
    margin: 0 1px;
    text-align: center;
    color: #9d9d9d;
}

.black-key {
    z-index: 1;
    background: #050505;
    margin-right: -20vmin;
    transform: scale(0.5) translate(-100%, -50%);
}

.white-key span {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}